<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabarit Component</title>
    <link href="./style/index.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="jrc-container">
            <div class="content center">
                <div class="header">
                    <h1 class="title"><span>Gabarit</span> Component</h1>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quia doloribus molestias dignissimos sint temporibus doloremque asperiores harum, laboriosam voluptatum, possimus commodi sunt facilis reprehenderit architecto autem? Facilis dignissimos eum aliquid, sed maxime non in minus ipsam voluptatum culpa voluptates quibusdam voluptatibus deleniti amet eveniet nulla earum? Ad sequi accusamus ab, ex ea voluptate maiores. Suscipit deleniti quas incidunt placeat labore ut voluptate! Recusandae, assumenda explicabo et magni ut vero dignissimos illo vel? Quos nemo illo et corporis assumenda accusantium cupiditate, molestias iusto id vero quaerat consequatur pariatur quasi ea, recusandae asperiores maxime harum rerum? Architecto incidunt error quia inventore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quia doloribus molestias dignissimos sint temporibus doloremque asperiores harum, laboriosam voluptatum, possimus commodi sunt facilis reprehenderit architecto autem? Facilis dignissimos eum aliquid, sed maxime non in minus ipsam voluptatum culpa voluptates quibusdam voluptatibus deleniti amet eveniet nulla earum? Ad sequi accusamus ab, ex ea voluptate maiores. Suscipit deleniti quas incidunt placeat labore ut voluptate! Recusandae, assumenda explicabo et magni ut vero dignissimos illo vel? Quos nemo illo et corporis assumenda accusantium cupiditate, molestias iusto id vero quaerat consequatur pariatur quasi ea, recusandae asperiores maxime harum rerum? Architecto incidunt error quia inventore.</p>
                    <div class="gallery-container">
                        <ul class="gallery">
                            <li>
                                <img src="./assets/img/webp/author_01.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/author_02.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/newspaper.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/olympia-typewriter.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/author_01.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/author_02.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/newspaper.webp" alt="" />
                            </li>
                            <li>
                                <img src="./assets/img/webp/olympia-typewriter.webp" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="action">
                    <button class="action-btn">More details</button>
                    <div class="action-dynamic-data">
                        <div class="data data-1">
                            <select name="data-values" id="data-values">
                                <option>value 1</option>
                                <option>value 2</option>
                                <option>value 3</option>
                                <option>value 4</option>
                            </select>
                            <button class="data-values">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="m10.6 13.8l-2.175-2.175q-.275-.275-.687-.262q-.413.012-.688.287q-.275.275-.275.7q0 .425.275.7L9.9 15.9q.275.275.7.275q.425 0 .7-.275l5.675-5.675q.275-.275.263-.688q-.013-.412-.288-.687q-.275-.275-.7-.275q-.425 0-.7.275ZM12 22q-2.075 0-3.9-.788q-1.825-.787-3.175-2.137q-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175q1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138q1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175q-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-10Zm0 8q3.325 0 5.663-2.337Q20 15.325 20 12t-2.337-5.663Q15.325 4 12 4T6.338 6.337Q4 8.675 4 12t2.338 5.663Q8.675 20 12 20Z"/>
                                </svg>
                            </button>
                        </div>
                        <!-- When you click on this link, you can change it conditionnaly like data-1 or other <div> -->
                        <div class="data data-2">
                            <a href=""><span>data2</span></a>
                        </div>
                        <div class="data data-3">
                            <a href=""><span>data3</span></a>
                        </div>
                        <div class="data data-1">
                            <a href=""><span>data1</span></a>
                        </div>
                        <div class="data data-2">
                            <a href=""><span>data2</span></a>
                        </div>
                        <div class="data data-3">
                            <a href=""><span>data3</span></a>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="dynamic-link">
                        <a href="">
                            <span>Dynamic component HTML base by Jercom &copy; 2023, all rights reserved.</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>